<div style="width: 100%; height: 100%;">
    <div class="esriCTSymbolChooserContainer">
        <div data-dojo-attach-point="symbolData" title="${symbolChooserTitle}" class="common-input esriCTSymbolData">
        </div>
    </div>
    <div data-dojo-attach-point="buttonsDiv" class="buttonsDiv">
        <div class="button-container button-container-absolute" style="padding: 0px;">
            <div class="jimu-btn jimu-float-trailing jimu-leading-margin1" data-dojo-attach-point="okButton">
                OK</div>
        </div>
    </div>
</div>
