<div>
	<div class="layer-name" data-dojo-attach-point="layerNameNode" data-dojo-attach-event="onclick: _onDropDownClick"></div>
	<div class="drop-select" data-dojo-attach-point="dropArrowNode" data-dojo-attach-event="onclick: _onDropDownClick"></div>
  <div data-dojo-attach-point="layerChooseNode" style="display: none"></div>
</div>