<div>
  <input name="url" data-dojo-type="jimu/dijit/URLInput" data-dojo-attach-point="featureSetUrl" data-dojo-props="placeholder: 'feature set URL'">
  <div data-dojo-attach-point="loadingNode" class="loading"></div>
  <div data-dojo-attach-point="visibleCheckboxDiv"></div>
</div>
