<div data-dojo-attach-point="layerSelectorContainer" style="width: 100%; height: 100%;">
    <div data-dojo-attach-point="layerSelectorNode" class="esriCTLayerSelectorNode">
    </div>
    <div data-dojo-attach-point="buttonsDiv" class="buttonsDiv">
        <div class="button-container button-container-absolute" style="padding: 0px;">
            <div class="jimu-btn jimu-float-trailing jimu-leading-margin1" data-dojo-attach-point="cancelButton">
                ${nls.layerSelector.cancelButton}</div>
            <div class="jimu-btn jimu-float-trailing jimu-leading-margin1 jimu-state-disabled"
                data-dojo-attach-point="okButton">
                ${nls.layerSelector.okButton}</div>
        </div>
    </div>
</div>
