<div>
    <div class="esriCTLayoutContent">
        <div class="esriCTLabels">
            <div class="esriCTLayoutHeaderTitle" data-dojo-attach-point="layoutHeaderTitle">
            </div>
        </div>
        <div class="esriCTChartContainer" data-dojo-attach-point="chartContainer">
        </div>
        <div class="esriCTChartDescription" data-dojo-attach-point="chartDescription">
        </div>
    </div>
</div>
