<div style="width: 100%; height: 100%;">
    <div class="esriCTLayerSelectorDiv">
        <div class="esriCTLayerChooserContainer row">
            <div class="esriCTlabel esriCTLabelContainer esriCTLayerChooserLabel" title="${nls.layerSelector.selectPolygonLayerLabel}">
                ${nls.layerSelector.selectPolygonLayerLabel}
            </div>
            <div class="esriCTLayerChooserField">
                <div data-dojo-attach-point="itemSelectDiv">
                </div>
                <div class="esriCTHint">
                    ${nls.layerSelector.selectPolygonLayerHintText}
                </div>
            </div>
        </div>
        <div class="esriCTLayerChooserContainer row">
            <div class="esriCTlabel esriCTLabelContainer esriCTLayerChooserLabel" title="${nls.layerSelector.selectRelatedPointLayerLabel}">
                ${nls.layerSelector.selectRelatedPointLayerLabel}
            </div>
            <div class="esriCTLayerChooserField">
                <select data-dojo-attach-point="relationshipSelect" style="width: 232px;" data-dojo-type="dijit/form/Select">
                </select>
                <div class="esriCTHint">
                    ${nls.layerSelector.selectRelatedPointLayerHintText}
                </div>
            </div>
        </div>
    </div>
    <div data-dojo-attach-point="buttonsDiv" class="buttonsDiv">
        <div class="button-container button-container-absolute" style="padding: 0px;">
            <div class="jimu-btn jimu-float-trailing jimu-leading-margin1" data-dojo-attach-point="cancelButton">
                ${nls.layerSelector.cancelButton}</div>
            <div class="jimu-btn jimu-float-trailing jimu-leading-margin1 jimu-state-disabled"
                data-dojo-attach-point="okButton">
                ${nls.layerSelector.okButton}</div>
        </div>
    </div>
</div>
