<div>
  <div class="control-section">
    <div class="export-node jimu-float-trailing" data-dojo-attach-point="exportNode" style="display:none"></div>
    <div class="magnify-node jimu-float-trailing" data-dojo-attach-point="magnifyNode"></div>
  </div>
  <div class="table-node" data-dojo-attach-point="tableNode"></div>
</div>